<!DOCTYPE html>
<html dir="rtl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-language" content="fa">
	<link href="style.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-default navbar-inverse">
		<div class="container">

			<div class="logo">
				<h1><a>چــرتکـه</a></h1>
			</div>

			<div class="mainnav" id="bs-example-navbar-collapse-1">

				<ul class="">
					<li><a href="">آموزش</a></li>
					<li><a href="">خرید و تعرفه‌ها</a></li>
					<li><a href="">کاربران</a></li>
					<li><a href="">پشتیبانی</a></li>
					<li><a href="">تماس با ما</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<footer>
		<div class="container">
			<div class="col-md-3">
				<h4>چرتکه</h4>
				با اپلیکیشن تحت وب ما حسابداری را آسان‌تر و امن‌تر از همیشه انجام دهید!
			</div>

			<div class="col-md-3">
				<h4>لینک های ضروری</h4>
				<a href="">درباره ما</a>
				<a href="">تماس با ما</a>
				<a href="">حقوق و شرایط</a>
				<a href="">قوانین</a>
				<a href="">پشتیبانی</a><br>
			</div>

			<div class="col-md-3">

			</div>

		</div>

	</footer>
</body>

</html>